<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static  'style1.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon(3).png' %}">
    <title>main page</title>

</head>

<body>
    
    <h1>All shows</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th> Actions</th>
        </tr>
        {% for show in shows%}

        <tr>
            <td>{{ show.id }}</td>
            <td>{{ show.title }} </td>
            <td>{{ show.network }}</td>
            <td>{{ show.release_date }} </td>
            <td>
                <a href="tvshow/{{ show.id }}">Show</a>
                <a href="{% url 'editshow' show.id %}">Edit</a>
                <a href="delete/{{ show.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'addshow' %}">Add a new Show</a>
</body>

</html>